.clock {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.clock h4 {
    margin: 0;
    font-size: 13px;
    font-weight: lighter;
    padding-left: 5px;
}

.clock h4 span {
    font-weight: bold;
    color: lightcoral;
    padding-left: 5px;
}

.clock h4 span:hover {
    text-decoration: underline;
    color: red;
    cursor: pointer;
}